h2.form-signin-heading {
      display: none !important;
}

i.wbm-webmin {
      display: none !important;
}

html[data-bgs="nightRider"] .session_login .awcheckbox label::after {
      margin-left: 0 !important;
      margin-top: 1px !important;
}
