[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=VirtualXS
Comment=Start virtualXS Gui
Exec=/opt/virtualXS/gui/gui.js
Icon=preferences-system-network
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
